
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box  ;
    font-family: "open sans", sans-serif;
}

#conteiner{
    height: 100vh;
    width: 100vw;
}

#logoimg{
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position:relative;
}

#conteinercentro{
    border-radius: 15%;
    width: 35%;
    height: 90%;
    position: absolute;
    top: 8%;
    right: 34%;
    background: rgb(254, 252, 252, .9)
}


#conversor{
    font-size:80%;
    text-align: center;
    position: relative;
    top: 3%;
}


h1{ margin-bottom: 10px;}
h3{ margin:10px}
h4{ font-size:20px;}
p{  margin:10px;}

select,input{
    text-align: center;
    height: 30px;
    width: 60%;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

button{
    padding: 10px 70px;
    margin: 15px 30px;
    border: 0;
    border-radius: 5px;
    background: slateblue;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;}

    button:hover {opacity: 0.5;}  
    button:active{opacity: 0.2;}


.bandeira1, .bandeira2{
    height: 40px;
   
}



@media screen and (max-width: 950px){

    #conteiner{
    width: 100vw;
    height: 100vh;
    }

    #logoimg{
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    }

    #conteinercentro{
    border-radius: 6%;
    width: 80%;
    height: 75vh;
    position: absolute;
    left: 10%;
    background: rgb(254, 252, 252, .9)
    }

    #conversor{
    font-size:70%;
    text-align: center;
    position: relative;
    top: 3%;
    }
    select,input{
    height: 40px;
    width: 80%;
    border: none;
    font-weight: 600;
    }

    button{
    padding: 10px 65px;
    margin: 15px 30px;
    border: 0;
    border-radius: 5px;
    background: slateblue;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;}
    
}

